body{
    background: lightblue;
    text-align: center;
}
.wrapper{
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}
img{
    /* transform: translateX(200px); */
    /* transform: scaleX(2,.5); */
    /* transform: rotate(45deg); */
}
.circle{
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 60px auto;
    background: pink;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    /* transition: 1s; */
    transition: background-color 1s , transform 0.5s ease-in;
}
.circle:hover{
    background: tomato;
    transform: rotate(360deg);
}